@charset "UTF-8";
@font-face {
  font-family: 'RageItalic';
  src: url("../../assets/fonts/RageItalic.eot");
  src: local("Γÿ║"), url("../../assets/fonts/RageItalic.woff") format("woff"), url("../../assets/fonts/RageItalic.ttf") format("truetype"), url("../../assets/fonts/RageItalic.svg") format("svg");
  font-weight: bold;
  font-style: bold; }
@font-face {
  font-family: 'Lato-Regular';
  src: url("../../assets/fonts/Lato-Regular.eot");
  src: local("Γÿ║"), url("../../assets/fonts/Lato-Regular.woff") format("woff"), url("../../assets/fonts/Lato-Regular.ttf") format("truetype"), url("../../assets/fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
a, a:hover {
  text-decoration: none;
  text-shadow: none; }

.login {
  background-color: #2B2B2B;
  font-family: Lato-Regular;
  padding-top: 20px;
  padding-bottom: 20px; }
  .login a {
    text-decoration: none;
    color: #878787; }

.logo {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EFEFEF; }

div#myCarousel .item {
  height: 450px; }
div#myCarousel img {
  width: 100%;
  height: 450px; }
div#myCarousel .carousel-control {
  width: 0; }
div#myCarousel .cr-R {
  background: none;
  margin-right: 30px; }
div#myCarousel .cr-L {
  background: none;
  margin-left: 30px; }

.carousel-caption {
  font-family: RageItalic;
  font-size: 30px;
  font-style: bold; }
  .carousel-caption h1 {
    font-size: 60px; }
  .carousel-caption p, .carousel-caption .btn-L, .carousel-caption .btn-R {
    font-size: 15px;
    font-family: Lato-Regular; }
  .carousel-caption .btn-L, .carousel-caption .btn-R {
    padding: 10px 39px 10px 39px;
    border: 0px outset;
    text-decoration: none; }
  .carousel-caption .btn-L {
    background-color: #2B2B2B;
    color: white; }
  .carousel-caption .btn-L:hover {
    background-color: #424242;
    color: white; }
  .carousel-caption .btn-R {
    background-color: #cddc39;
    color: black; }
  .carousel-caption .btn-R:hover {
    background-color: #e6ee9c;
    color: black;
    text-shadow: none; }

.navbar {
  border: none;
  background: transparent; }
  .navbar .glyphicon-menu-down {
    transform: rotate(0deg);
    transition: 0.3s; }
  .navbar .open {
    transition: 0.9s; }
    .navbar .open .glyphicon-menu-down {
      transform: rotate(180deg);
      transition: 0.3s; }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top; }
  .navbar .navbar-collapse {
    text-align: center;
    font-family: Lato-Regular; }
  .navbar .dropOrg {
    border: none;
    min-width: 150px;
    text-align: center;
    transition: 0.9s; }

#new_arrivals h4 {
  color: black;
  padding: 40px;
  line-height: 4; }
#new_arrivals .height {
  height: 50px; }
#new_arrivals .gift {
  background: lightgray;
  line-height: 2;
  padding: 15px;
  height: 370px;
  width: 558px;
  margin-left: 11px; }
  #new_arrivals .gift img {
    margin-top: 20px;
    width: 200px;
    height: 300px; }
  #new_arrivals .gift h2 {
    margin-top: 70px;
    margin-left: 40px; }
    #new_arrivals .gift h2 span {
      color: #a1bd53; }
  #new_arrivals .gift p {
    margin-top: 40px;
    margin-left: 45px; }
    #new_arrivals .gift p a {
      color: black;
      text-decoration: none; }
#new_arrivals .lil_arrival {
  border: 1px solid #ccc;
  width: 265px;
  height: 370px;
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  /*margin: 10px;*/ }
  #new_arrivals .lil_arrival #new {
    background: #cddc39;
    border-radius: 50%;
    border: 1px solid #c0ca33;
    width: 40px;
    height: 40px;
    color: black;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 8px;
    right: 5px;
    box-shadow: 0px 2px 2px #888888; }
  #new_arrivals .lil_arrival #hot {
    background: #ffcc80;
    border-radius: 50%;
    border: 1px solid #ffa726;
    width: 40px;
    height: 40px;
    color: black;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 51px;
    right: 5px;
    box-shadow: 0px 2px 2px #888888; }
  #new_arrivals .lil_arrival #lil_arrival3 {
    margin-right: -10px; }
  #new_arrivals .lil_arrival #hot1 {
    background: #ffcc80;
    border-radius: 50%;
    border: 1px solid #ffa726;
    width: 40px;
    height: 40px;
    color: black;
    text-align: center;
    position: relative;
    top: 8px;
    right: 5px;
    padding: 5px;
    box-shadow: 0px 2px 2px #888888; }
  #new_arrivals .lil_arrival img {
    width: 80px;
    height: 230px;
    margin-top: 20px;
    text-align: center; }
  #new_arrivals .lil_arrival p {
    color: #ccc; }
  #new_arrivals .lil_arrival .btn {
    background: #ccc;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    left: 0; }

#video {
  padding-top: 50px;
  position: relative; }
  #video h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 84px;
    color: #a1bd53;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    position: absolute;
    top: 56px;
    padding: 12px;
    left: 244px; }

/*# sourceMappingURL=style.css.map */
