$Capfont: beyond_the_mountains;
$font: Lato-Regular;
$pad-top: 20px;
$pad-bottom: 20px;
$t-deco: none;

@font-face {
font-family: 'beyond_the_mountains';
src: url("../../assets/fonts/beyond_the_mountains.eot");
src: local("☺"), url("../../assets/fonts/beyond_the_mountains.woff") format("woff"),url("../../assets/fonts/beyond_the_mountains.ttf") format("truetype"),url("../../assets/fonts/beyond_the_mountains.svg") format("svg");
font-weight: bold;
font-style: bold; }

@font-face {
font-family: 'Lato-Regular';
src: url("../../assets/fonts/Lato-Regular.eot");
src: local("☺"), url("../../assets/fonts/Lato-Regular.woff") format("woff"),url("../../assets/fonts/Lato-Regular.ttf") format("truetype"),url("../../assets/fonts/Lato-Regular.svg") format("svg");
font-weight: normal;
font-style: normal; }


a , a:hover {
	text-decoration: $t-deco;
	text-shadow: none;
}


.login{
	background-color: #2B2B2B;
	font-family: $font;
	padding-top:$pad-top;
	padding-bottom:$pad-bottom;
	
	a {
		text-decoration: $t-deco;
		color: #878787;
	}
}


.logo{

	border-bottom: 1px solid #EFEFEF;
	 text-align:center
}


div#myCarousel {
	
	.item{
	height:450px;
	}

	img {
		width:100%;
		height:450px;
	}

	.carousel-control{
		width:0;
	}

	.cr-R{
		background: none;
	    margin-right: 30px;
	}
	.cr-L{
		background: none;
		margin-left: 30px;
	}
}

.carousel-caption {
    font-family: $Capfont;
    font-size: 30px;
    font-style: bold;

    h1 {
    	font-size: 50px;
    }
 	
 	.btn-Rspan{
 		white-space:nowrap;
 	}

 	p, .btn-L, .btn-R {
 		margin-top:25px;
		font-size: 15px;
		font-family: $font;
	} 
	.btn-L, .btn-R {
		padding: 10px 39px 10px 39px;
		border: 0px outset;
		text-decoration: $t-deco;
	}

	.btn-L{
		background-color:#2B2B2B;
		color:white;
	}

	.btn-L:hover{
		background-color:#424242;
		color: white;
	}

	.btn-R{
		background-color:#cddc39;
		color:black;
	}

	.btn-R:hover{
		background-color: #e6ee9c;
		color: black;
		text-shadow: none;
	}
}


.navbar{
	border: none;
	background:transparent;
	
	.glyphicon-menu-down {
		transform:rotate(0deg);
		transition:0.3s;
	}

	.open{
		.glyphicon-menu-down{
			transform:rotate(180deg);
			transition:0.3s;
		}
		
		transition:0.9s;
	}

	.navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar-collapse {
	  text-align: center;
	  font-family: $font;
	}

	.dropOrg{
		border:none;
		min-width:150px;
		text-align:center;
		transition: 0.9s;
	}
	

}
